body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: black;
}
h1 {
  color: black;
  font-size: 36px;
  font-weight: bold;
}
h3 {
  color: gray;
}
h4 {
  color: gray;
}
p {
  line-height: 30px;
  margin-bottom: 25px;
}
a {
  color: gray;
}
a:hover {
  color: gray;
}
a:focus {
  color: gray;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
.navbar-default {
  background: rgba(0, 0, 0, 0.8);
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav li a {
  color: white;
}
.navbar-default .navbar-nav li a:hover {
  color: white;
}
header {
  background: url(../img/UV3.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 530px;
  padding-top: 100px;
}
header h1 {
  color: white;
  margin-bottom: 15px;
  letter-spacing: 1px;
  margin-top: 20%;
}
.centrado {
  margin: 40px 0;
  text-align: center;
}
i {
  color: white;
  margin: 8px;
}
@media screen and (max-width: 768px) {
  header h1 {
    margin: 15px 0;
    font-size: 24px;
  }
}
